var $container = $('#container')

<% if @post.error_info.present? %>
  $container.html('<%= @post.error_info %>');
  //$container.removeAttr('style');
<% else %>
  $container.html('&nbsp;');
  $container.attr('style', 'position: relative;');

  var page_nav = $('<div/>');
  page_nav.attr('id', 'page-nav');
  page_nav.html('<%= link_to 'next', page: @page.next_page %>');
  page_nav.insertAfter('#container');

  var urls = [];
  // <div />で囲まないと、body 直下の img が取得できない
  var html = '<div><%= raw @html.gsub("'", '"').presence || (@post.url && image_tag(@post.url)) || '' %></div>';

  $(html).find('img').each(function() {
    var box = $('<div id="active_box" class="box" />');
    box.appendTo('#container');
    $(this).appendTo('#active_box');
    box.removeAttr('id');
  });

  $container.masonry('reload');
  $container.imagesLoaded(function() {
    $container.masonry('reload');
    $container.find('img:first').attr('id', 'selected');
  });

  $('.box img').live('click', function() {
    $('img#selected').removeAttr('id');
    $(this).attr('id', 'selected');
    var url = $(this).attr('src');
    $('#post_url').attr('value', url);
    var link = $('<a/>');
    link.attr('src', url);
    link.attr('id', 'link');
    link.insertBefore('img#selected');
    $(this).appedTo('#link')
    link.removeAttr('id');
  });

  $('#post_origin_url').attr('value', '<%= @post.origin_url %>');
<% end %>

$container.css({ visibility: 'visible' });
