// Place all the styles related to the clips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/utilities";
@import "compass/css3";

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/buttons";
@import "bootstrap/forms";

$margin: 20px;
$clip_width: 860px;
$image_box_width: 580px;
$info_box_width: $clip_width - $image_box_width - $margin;

#image_selecter {
  h2 {
    font-size: x-large;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: large;
    margin-bottom: 0.5em;
  }

  form {
    margin: 20px auto;
    text-align: center;
    @extend .form-inline;

    input[type="submit"] {
      @extend .btn;
    }
  }

  .box {
    margin: 0;
    width: auto;
    border: 0;
  }

  .box img {
    border: 5px solid transparent;
    &#selected {
      border-color: #666666;
    }
  }

  #container {
    text-align: center;
  }
}

#preview {
  float: left;
  margin-right: 10px;
  min-height: 150px;
}

/* dialog */
#clip_dialog {
  $padding: 20px;

  #clip {
    padding: 0;
  }

  &.modal {
    width: $clip_width + $padding * 2;
    margin-left: -($clip_width / 2);
    left: 50%;

    &.fade {
      @include transition(opacity 0.3s linear);
    }

    .modal-body {
      max-height: none !important;
    }
  }
}

/* clip */
#clip {
  margin: 0 auto;
  padding: 10px 0;
  width: $clip_width;
}

#clip > h2 {
  margin: 20px 0;
  text-align: center;
}

#clip .profile {
  margin-bottom: 20px;
  height: 64px;
  @include clearfix;

  .avatar {
    float: left;
    margin-right: 20px;
    img {
      width: 64px;
      height: 64px;
    }
  }

  .description {
    font-size: medium;
    height: 64px;
    p {
      margin-bottom: 7px;
    }
    .who a {
      font-weight: bold;
    }
    .source {
      color: #999;
      a, a:hover {
        color: #286bcc;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

#clip .info {
  margin: 0px;
  padding: 0px;
  width: $image_box_width;
}

#clip .image_box {
  margin: 0;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;

  img {
    max-width: $image_box_width;
    border: none !important;
    vertical-align: bottom;
  }
}

h2.title {
  margin-top: $margin;
  text-align: center;
  font-size: x-large;
}

#clip .comment_feild {
  margin: $margin 0 0;
  border: 1px solid #ddd;
  border-top: none;
  font-size: medium;
  @include border-bottom-radius(4px);

  input[type="text"] {
    height: 48px - 8px;
    width: $image_box_width - 40px - 48px - $margin;
  }
  .body {
    margin-bottom: 3px;
  }
  ul.commentsd li, form {
    padding: 5px;
    min-height: 48px + 10px;
  }
  .avatar img {
    width: 48px;
    height: 48px;
  }
}

.info p {
  display: inline-block;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

#clip .info {
  float: left;
  margin-right: $margin;
}

#clip .additional_info {
  width: $info_box_width;
  margin-left: $image_box_width + $margin;
}

@mixin additional_info_box {
  $padding: 10px;

  margin-bottom: $margin;
  width: $info_box_width - $padding * 2;
  padding: $padding;
  background-color: #fff;
  border: 1px solid #ccc;

  .count {
    font-size: medium;
    font-weight: bold;
  }

  ul {
    margin: 5px;
    margin-bottom: 0;
  }

  li {
    padding: 5px;
    display: inline-block;
    margin-right: 5px;
  }

  a.remove {
    color:  #689;
  }
}

#clip .tag_feild {
  @include additional_info_box;

  li {
    background-color: #d4e1f5;
    border: 1px solid #a9c4eb;
    @include border-radius(4px);
  }

  form {
    margin-top: 5px;
    @extend .form-inline;

    input[type="text"] {
      width: 110px;
    }

    input[type="submit"] {
      @extend .btn;
      vertical-align: middle;
    }
  }
}

@import "carousel";

strong {
  font-size: medium;
  font-weight: bold;
}

#clip .carousel_box {
  @include carousel($item_count_x: 4, $item_count_y: 2, $item_size: 36px, $item_margin: 16px, $width: $info_box_width);
  @include border-radius(0);
  margin-bottom: $margin;
  border: 1px solid #ccc;

  .count {
    @extend strong;
  }
}

#clip .view_feild {
  @include additional_info_box;
}

#clip .social_feild {
  li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;

    &.twitter {
      width: 90px;
    }
  }
}

#clip .other_info {
  clear: both;
}
