@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/buttons";
@import "compass/css3";
@import "zurui-sass";
@import 'font-awesome';

// mix-in
@mixin btn-left {
  float: left;
  text-align: left;

  a {
    height: 24px;
    line-height: 24px;
  }
}

@mixin btn-right {
  text-align: right;

  a {
    height: 24px;
    line-height: 24px;
  }
}

@mixin btn-reclip {
  @extend .btn;
  @extend .btn-warning;
  @include zurui-gradient-top-lighten($color: #fa0, $lighten: 20%);
  @include box-shadow(rgba(0, 0, 0, .25) 0 1px 2px);
  text-decoration: none;
  color: #4f2e2b;
  border: 1px solid #a60;
  &:hover, &:focus {
    background-color: #fa0;
    color: #211;
  }
}

@mixin btn-like {
  @extend .btn;
  @include box-shadow(rgba(0, 0, 0, .25) 0 1px 2px);
  text-decoration: none;
  color: #666;
  border: 1px solid #aaa;
}

@mixin btn-remove {
  @extend .btn;
  @extend .btn-danger;
  text-decoration: none;
  color: #fff;
}

// from https://github.com/FortAwesome/Font-Awesome/issues/213
@mixin icon($name) {
  &:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em;
  }
  @extend .icon-#{$name};
}

// variables
$contents_width: 1000px;
$font_gothic: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
$font_serif: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;

// class
.noscroll {
  overflow-y: hidden;
}

// jQuery
.ui-dialog-titlebar {
  display: none;
}

.ui-widget-overlay {
  z-index: 90;
  background: transparent url('/assets/transblack.png') repeat !important;
}

.ui-dialog {
  .ui-button.ui-state-default {
    @extend .btn;
  }
}
