// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "common";

// home
#home {
  h2 {
    margin: 10px 0 20px;
    text-align: center;
  }
}

#home > .matomes {
  margin: 0 auto 50px;
  text-align: center;

  li {
    @include inline-block;
  }
}

#home > .tags {
  margin: 0 auto 50px;
  width: $contents_width;
  text-align: center;

  li {
    display: inline;
    margin: 0 10px;
  }
}

// tutorial
#tutorial {
  margin: 20px auto;
  padding: 20px;
  width: $contents_width;
  line-height: 200%;
  font-size: 13px;
  color: #444;
  background-color: #fff;
  @include border-radius(2px);
  @include single-box-shadow($color: #ccc, $hoff: 0px, $voff: 1px, $blur: 3px);
}

#tutorial h1 {
  font-size: large;
  font-weight: normal;
}

#tutorial ol {
  counter-reset: li;
}

#tutorial li {
  margin: 20px 0;
  padding: 20px 0.5em 0;
  border-top: 1px solid #eee;
}

#tutorial h2 {
  font-size: x-large;
  margin-bottom: 0.5em;
}

#tutorial h2:before {
  display: inline-block;
  counter-increment: li;
  content: counter(li);
  margin: .3em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: #f70;
  position: relative;
  left: -0.5em;
  @include border-radius(2em);
}

#tutorial a {
  &, &:link, &:visited, &:hover, &:active {
    font-weight: bold;
    color: #f70;
  }
}

// bookmarklet
#bookmarklet {
  margin: 20px auto;
  width: $contents_width;
  font-size: 16px;

  p {
    line-height: 130%;
  }
}

#bookmarklet h1 {
  margin: 0 0 0.25em;
  line-height: 150%;
  font-size: xx-large;
}

#bookmarklet .well {
  margin: 1em 0;
  text-align: center;
  font-size: xx-large;
  font-family: $font_gothic;
  letter-spacing: 3px;
  font-weight: bold;

  a {
    color: #666;

    &:hover {
      text-decoration: none;
    }
  }
}

// introduction
#introduction {
  color: #333;
  margin: 30px auto 40px;
  padding-bottom: 40px;
  width: $contents_width;;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#introduction h1 {
  margin: 0.5em 5px;
  font-size: xx-large;
  font-family: $font_gothic;

  .s1 {
    font-weight: bold;
  }

  .s2 {
    font-weight: normal;
  }
}

#introduction p {
  line-height: 250%;
  font-family: $font_gothic;
  color: #666;

  i {
    margin: 0 0.5em;
    @include opacity(0.75);
  }

  .btn-reclip {
    color: #000;
    @include icon(paper-clip);
    @include btn-reclip;
  }

  .btn-like {
    @include icon(heart-empty);
    @include btn-like;
  }

  .tip {
    color: #333;
    margin: 0 3px;
    padding: 3px 6px;
    background-color: #eee;
    border: 1px dotted #aaa;
    @include border-radius(4px);
  }
}
