// Place all the styles related to the matomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/buttons";
@import "bootstrap/forms";
@import "compass/utilities";
@import "compass/css3";
@import "common";

$header_width: 960px;
$infomation_width: 600px;
$contribute_width: 300px;
$cover_size: 100px;

// header
#matome .header {
  margin-bottom: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-bottom: 2px solid #f0f0f0;
}

#matome .header .wrap {
  float: none;

  //height: $cover_size;
  width: $header_width;

  h1 {
    font-size: xx-large;
  }

  .cover {
    $size: $cover_size;
    $forgrond_color: #ddd;
    $background_color: #eee;

    float: left;
    margin-right: 20px;
    width: $size;
    height: $size;
    overflow: hidden;
    background-color: $background_color;
    border: 2px solid $forgrond_color;

    img {
      max-width: none;
    }

    &.none {
      @include icon(plus);

      &:before {
        display: block;
        width: $size;
        height: $size;
        line-height: $size;
        color: $forgrond_color;
        font-size: $size / 2;
        text-align: center;
      }
    }
  }

  .meta {
    margin-left: $cover_size;

    .description {
      margin-right: 0.5em;
    }

    .updated_at {
      color: #888;
    }
  }

  .user {
    margin-top: 0.5em;

    img {
      vertical-align: middle;
    }

    .avatar a {
      display: inline;
      margin-right: 0.5em;
    }

    .name {
      font-weight: bold;
    }

    .title {
    }
  }

  #edit {
    width: $cover_size;
    text-align: center;

    a {
      color: #444;
    }
  }
}

#matome .infomation {
  float: left;
  width: $infomation_width;

  h1,
  p {
    line-height: 150%;
  }
}

#matome .contribute {
  float: right;
  width: $contribute_width;
  text-align: right;

  p {
    line-height: 120%;
  }

  .meta {
    display: inline-block;
  }
}

#matome .like {
  display: inline-block;
  text-align: center;

  .count {
    font-size: large;
    @include icon(heart);

    &:before {
      font-size: x-small;
      color: #c03;
      line-height: normal;
    }
  }

  .description {
    color: #666;
    font-size: xx-small;
  }
}

#matome .view {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #ddd;

  .count {
    font-size: large;
  }

  .description {
    color: #666;
    font-size: xx-small;
  }
}

#matome .like_button {
  display: inline-block;
  margin-top: 10px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  @include icon(heart);
  @extend .btn;

  a:link, a:visited, a:active {
    text-decoration: none;
  }

  &:before {
    color: #aaa;
  }
}

// form
#matome form {
  input[type="text"] {
    font-size: x-large;
    height: 1.5em;
    line-height: 1.5em;
  }

  textarea {
    resize: none;
  }

  input[type="text"], textarea {
    width: 640px;
    //@extend .input-block-level;
  }

  input[type="button"] {
    @extend .btn;
  }

  input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
  }
}

// container
#matome_container {
  @extend #container;

  .box {
    margin: 5px;

    img {
      @include border-radius(4px);
    }
  }
}

// dialog
#matome_dialog {
  img {
    border: 5px solid transparent;

    &#selected {
      border: 5px solid #666;
    }
  }
}
