// Place all the styles related to the matomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/buttons";
@import "bootstrap/forms";
@import "bootstrap/breadcrumbs";
@import "compass/utilities";
@import "compass/css3";
@import "common";

$header_width: $contents_width;
$infomation_width: 760px;
$contribute_width: $header_width - $infomation_width;
$cover_size: 100px;

// breadcrumb
#matome div.breadcrumb {
  margin: 0;
  @extend .breadcrumb;
  @include border-radius(0);
  background-color: #f3f3f3;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #e3e3e3;
}

#matome .breadcrumb > ul {
  @extend .breadcrumb;
  margin: 0 auto;
  padding: 0;
  width: $header_width;
}

#matome .breadcrumb .tags {
  display: inline-block;

  li {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    background-color: #d4e1f5;
    border: 1px solid #a9c4eb;
    @include border-radius(4px);
  }
}

// header
#matome .header {
  margin-bottom: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-bottom: 2px solid #f0f0f0;
}

#matome .header .wrap {
  float: none;

  margin: 0 auto;
  width: $header_width;

  h1 {
    font-size: xx-large;
  }

  .cover {
    $size: $cover_size;
    $forgrond_color: #ddd;
    $background_color: #eee;

    float: left;
    width: $size;
    height: $size;
    overflow: hidden;
    background-color: $background_color;
    border: 2px solid $forgrond_color;

    img {
      max-width: none;
    }

    &.none {
      @include icon(plus);

      &:before {
        display: block;
        width: $size;
        height: $size;
        line-height: $size;
        color: $forgrond_color;
        font-size: $size / 2;
        text-align: center;
      }
    }
  }

  .text {
    margin-left: $cover_size + 20px;
  }

  .meta {
    vertical-align: middle;

    .description {
      margin-right: 0.5em;
    }

    .updated_at {
      color: #888;
    }
  }

  .user {
    display: inline-block;
    margin-top: 10px;

    img {
      vertical-align: middle;
    }

    .avatar a {
      display: inline;
      margin-right: 0.5em;
    }

    .name {
      font-weight: bold;
    }
  }

  #edit {
    width: $cover_size;
    text-align: center;
    position: absolute;
    margin-top: $cover_size;
    padding-top: 0.5em;

    a {
      color: #444;
    }
  }
}

#matome .infomation {
  float: left;
  width: $infomation_width;

  h1,
  p {
    line-height: 120%;
    padding-bottom: 0.25em;
  }
}

#matome .contribute {
  float: right;
  width: $contribute_width;
  text-align: right;

  p {
    line-height: 120%;
  }

  .meta {
    display: inline-block;
  }
}

#matome .like {
  display: inline-block;
  text-align: center;

  .count {
    font-size: large;
    @include icon(heart);

    &:before {
      font-size: x-small;
      color: #c03;
      line-height: normal;
    }
  }

  .description {
    color: #666;
    font-size: xx-small;
  }
}

#matome .view {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #ddd;

  .count {
    font-size: large;
  }

  .description {
    color: #666;
    font-size: xx-small;
  }
}

#matome .like_button a {
  display: inline-block;
  margin-top: 10px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  @include icon(heart);
  @extend .btn;

  &:link, &:visited, &:active {
    text-decoration: none;
  }

  &:before {
    color: #aaa;
  }
}

// form
#matome form {
  h1 input {
    font-size: x-large;
    height: 1.5em;
    line-height: 1.5em;
  }

  textarea {
    resize: none;
  }

  input[type="text"], textarea {
    width: 640px;
    //@extend .input-block-level;
  }

  input[type="button"] {
    @extend .btn;
  }

  input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
  }

  .chosen-container {
    margin: 10px 5px 0;

    .chosen-choices {
      @extend input[type="text"];
      @include box-sizing(content-box);
      width: 640px;
      margin: 0;
    }

    input {
      padding-left: 0;
    }
  }
}

// container
#matome_container {
  @extend #container;

  .box {
    margin: 5px;

    img {
      @include border-radius(4px);
    }
  }
}

// social button
#matome .social {
  display: inline-block;
  margin-top: 3px;
  margin-left: 10px;
  height: 26px;
  max-width: 330px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;

  li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;

    &.twitter {
      width: 90px;
    }
  }
}

// dialog
#matome_dialog {
  .masonry {
    width: auto !important;
    height: 350px !important;
    overflow: auto;
  }

  input[type="submit"] {
    @extend .btn;
  }

  .image_box img {
    display: block;
    background: #fff;
    vertical-align: bottom;
    @include border-radius(4px);
  }
}

// container
.image_box .status {
  .clip {
    width: 50%;
    @include btn-left;
    a {
      @include btn-reclip;
      @include icon(paper-clip)
    }
  }

  .remove {
    @include btn-right;
    a {
      @include btn-remove;
      @include icon(remove)
    }
  }
}

// done
#done .related {
  margin: 15px auto;
  text-align: center;
  border-top: 1px solid #ddd;

  h2 {
    margin: 1em 0;
    font-size: x-large;
  }

  li {
    display: inline-block;
  }
}
