// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box img#selected {
  border: 5px solid #666666;
}

.box img {
  border: 5px solid transparent;
}

.box img {
  width: 180px;
}

#container {
  margin: 20px 0;
}

#post_dialog {
  width: 600px;
}

#preview {
  float: left;
  margin-right: 10px;
  min-height: 150px;
}
