@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/alerts";
@import "bootstrap/forms";

body {
  background-color: #fff;
  color: #333;
}

pre {
  background-color: #eee;
  padding: 10px;
}

a {
  color: #000;
  &:hover {
    color: #666;
  }
}

h2 {
  font-size: large;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
  margin-bottom: 0;
  display: inline;
}

#error_explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block;

  h2 {
    font-size: large;
    font-weight: bold;
  }

  ul {
    margin-top: 0.5em;
    margin-left: 2em;
    list-style-type: disc;
  }

  li {
    line-height: 120%;
  }
}

html,
body {
  font-family: sans-serif !important;
  background-color: #fff;
}

form {
  margin: 0;
  padding: 0;
}

input, textarea {
  margin: 10px 5px;
  &[type="radio"], &[type="checkbox"] {
    margin: 7px 5px 10px;
  }
}

label {
  display: inline;
  margin: 5px;
}

.input-small {
  width: 110px;
}

h1 {
  font-weight: bold !important;
}

strong {
  font-size: medium !important;
  font-weight: bold !important;
}

legend {
  display: block;
  font-size: 21px;
  line-height: 40px;
  color: #333;
  border-bottom: 1px solid #E5E5E5;

  + * {
    margin-top: 20px;
    -webkit-margin-top-collapse: separate;
  }
}
