@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/buttons";
@import "compass/css3";

@import "carousel";

$screen_width: 860px;
$carousel_item_count_x: 4;
$carousel_item_count_y: 2;
$carousel_item_size: 32px;
$carousel_item_margin: 10px;
$carousel_control_size: 20px;
$carousel_inner_width: ($carousel_item_size + $carousel_item_margin) * $carousel_item_count_x;
$carousel_inner_height: ($carousel_item_size + $carousel_item_margin) * $carousel_item_count_y - $carousel_item_margin;
$carousel_width: $carousel_inner_width + $carousel_item_margin + $carousel_control_size * 2;
$carousel_height: $carousel_inner_height;
$user_info_width: $screen_width;
$user_info_height: 168px;
$profile_margin: 20px;
$profile_padding: 20px;
$profile_width: $screen_width - $carousel_width - $profile_margin - $profile_padding * 2;
$profile_height: $user_info_height - $profile_padding * 2;
$user_menu_height: 100px;

#user_header {
  margin-bottom: 10px;
  width: $screen_width;
  height: $user_info_height + $user_menu_height + 2px;
}

#user_header .user_info {
  margin: 20px;
  width: $user_info_width;
  height: $user_info_height;
  z-index: 12;
  position: relative;
}

#user_header .profile {
  padding: $profile_padding;
  width: $profile_width;
  height: $profile_height;
  background-color: #fff;
  border: 1px solid #aaa;
  position: absolute;
  @include border-radius(4px);

  .avatar {
    float: left;
    margin-right: 20px;
  }

  .name {
    font-size: xx-large;
    height: $profile_height / 3;
    line-height: $profile_height / 3;
  }

  .description {
    font-size: large;
    height: $profile_height / 3;
  }

  .buttons {
    height: $profile_height / 3;
    line-height: $profile_height / 3;
    text-align: right;
  }
}

#user_header ul.user_menu {
  $top: $profile_height / 2;
  $padding-top: $profile_height / 2 + 20px;
  $user_menu_height: 100px;

  padding-top: $padding-top;
  width: 100%;
  height: $user_menu_height;
  background-color: #f7efe0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  z-index: 11;
  position: relative;
  position: absolute;
  top: $profile_height / 2 + 40px + 10px;

  left: 0;

  &:before {
    content: '';
    display: inline-block;
    padding-left: 60px;
  }

  li {
    display: inline-block;
    font-size: larger;
    a {
      width: 150px;
      height: $user_menu_height;
      display: table-cell;
      vertical-align: middle;
      layout-grid-line: $user_menu_height;
      &:hover, &:focus, &.current {
        color: #420 !important;
        text-decoration: none;
        background-color: #e7dfd0;
      }
      &:visited {
        color: #000;
      }
    }
    p {
      margin: 5px 0;
      text-align: center;
      vertical-align: middle;
    }
    i {
      margin-right: 3px;
    }
    .count {
      font-size: 250%;
    }
  }
}

#user_header #user_wrapper {
  margin-top: 100px;
}

#follow_button a {
  @extend .btn;
}

#following_list {
  top: $carousel_height + 20px * 2 + 21px;
}

#user_header .carousel_box {
  @include carousel($carousel_item_count_x, $carousel_item_count_y, $carousel_item_size, $carousel_item_margin, $carousel_control_size);
  @include border-radius(4px);
  position: absolute;
  right: 0;
}

#user {
  form {
    width: $screen_width;
  }

  fieldset {
    margin-bottom: 50px;
  }
}

#user_header .profile {
  #edit_button {
    visibility: hidden;
  }

  &:hover #edit_button {
    visibility: visible;
  }
}
